body {
  margin: 0;
  background: #535353;
  font-family: "Roboto", sans-serif;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #EBEBEB;
  background: linear-gradient(180deg, rgba(225, 221, 221, 1) 0%, rgba(204, 204, 204, 0.6) 40%, rgba(31, 31, 31, 0) 100%);
}

.nav-contents .p-menubar-start {
  filter: invert(); 
}

.nav-contents .p-menuitem-text  {
  color: #EBEBEB;
  font-size: 18px;
}

.nav-contents .p-menuitem-icon  {
  color: #EBEBEB;
}

.nav-contents .p-menuitem-link:hover  {
  background: #df732b;
  border-radius: 3px;
}

.nav-contents .p-menubar-button {
  color: white;
}

.nav-contents {
  max-width: 1200px;
  margin: 0 auto;
  padding: auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
}

.hero-section {
  position: relative;
  height: calc(100vh - 60px);
  width: 100%;
}

.hero-background {
  top: -10px;
  bottom: -10px;
  position: relative;
  width: 100%;
  height: calc(100% + 10px);
  background-image: url('./assets/man.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.44);
  display: flex;
  align-items: center;
  justify-content: center;  
}

.hero-text-container {
  width: 600px;
}

.hero-text {
  width: 100%;
  max-width: 1200px;
  margin: 0 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 96px; 
  line-height: 100px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 10px 0 40px 0;
}

.hero-btn {
  border-radius: 30px;
  border: none;
  text-decoration: none;
  padding: 15px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.left-btn {
  background: #D9D9D9;
  color: #1B1B1B;
  margin-right: 20px;
  cursor: pointer;
}

.right-btn {
  color: white;
  background: #323232;
}

a:hover {
  cursor: pointer;
  background: #df732b;
}

.numbers-container {
  max-width: 1200px;
  margin: 30px auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center
}

.counter {
  font-size: 96px;
  margin: 0;
}

h3 {
  margin: 0;
}

@media screen and (max-width: 760px) {
  .hero-text-container {
    max-width: 300px;
    padding: 10px;
  }

  .hero-section {
    height: 100vh;
  }

  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 20px;
  }

  .hero-btn {
  padding: 10px 15px;
  font-size: 16px;
  }

  .numbers-container {
    padding: 10px;
    text-align: center;
  }
  
  .counter {
    font-size: 40px;
  }
}

@media screen and (max-width: 960px) {
  .nav-contents .p-menuitem-icon {
  color: #b13800;
  }
  .nav-contents .p-menuitem-text {
    color: #b13800;
  }
}